* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#background-container {
  position: fixed;
  top: 0;
  text-align: center;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  z-index: 2; 
}
#message {
  display: inline-block;
  font-size: 4.5em;
  margin-top: 7%;
  cursor: default;
  color: rgba(255, 255, 255, 0.8); 
  font-family: 'Arvo', sans-serif;
}

#message strong {
  color: black;
  background-color: rgb(255, 255, 255);
  margin-left: 5px;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 5px;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
  
  @media only screen and (max-width: 480px) {
.background-container {
    position: cover;
  }
  #message {
    font-size: 5em;
    margin-top: 5%;
    margin-bottom: 300px;
  }
}
@media only screen and (max-width: 768px) {

  #message{
    font-size: 6em;
    margin-top: 5%;
    margin-bottom: 320px;
  }

}
