* {
    margin: 0;
    padding: 0;
  }
  
  .background-container {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 2;
  }
  #message {
    display: inline-block;
    font-size: 6.5em;
    user-select: none;
    margin-top: 15%;
    cursor: default;
    color: rgba(255, 255, 255, 0.8); 
    font-family:  sans-serif;
  }
  
  #message strong {
    color: black;
    background-color: rgb(255, 255, 255);
    padding-left: 2px;
    margin-left: 15px;
    padding-right: 2px;
    border-radius: 5px;
  }
#holagithubnadiemepuededecirquetanlargaesunaetiqueta {
  color: white;
  font-family:  sans-serif;
}
  .star {
    position: absolute;
    z-index: -1;
    height: 2px;
    width: 2px;
    background-color: white;
    border-radius: 50%;
    animation: twinkling 3s infinite;
  }
  
  @keyframes twinkling {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  .home-button {
    position: relative;
    user-select: none;
    display: inline-block;
    margin-top: 100px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 0.8px;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-family: 'Arvo', serif;
    transition: all 0.4s ease-in-out;
  }
  
  .home-button:hover {
    
    background-color: rgb(0, 0, 0);
    border: 1.3px white solid;
    color: rgb(255, 255, 255);
    transform:scale(1.05)
   
  
  }
  
  .home-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -58px;
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    cursor: default;
    border-right: 2px solid white;
    transform: translateY(-50%) rotate(90deg);
    animation: arrow 3s infinite;
  }
  .home-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 150%;
    margin-left: 0px;
    cursor: default;
    width: 10px;
    height: 10px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: translateY(-50%) rotate(-90deg) rotate(180deg);
    animation: arrow 3s infinite;
  }
  @keyframes arrow {
    0% {
      opacity: 1;
      transform: translateY(-50%) rotate(410deg) translateX(0);
      
    }
    20% {
      opacity: 0.5;
      transform: translateY(-50%) rotate(45deg) translateX(0px);
    }
    100% {
      opacity: 1;
      transform: translateY(-50%) rotate(45deg) translateX(0);
     
    }
  }
  
  
  @media screen and (max-width: 480px) {
    #message {
      font-size: 3.5em;
      margin-top: 40%;
    }
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    #message {
      font-size: 5.5em;
      margin-top: 40%;
    }
  }
  
