* {
  margin: 0;
  padding: 0;

}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.loading-screen p {
  color: #fff;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.loading-screen {
  transition: opacity 0.5s ease-out;
}

.loading-screen.fade-out {
  opacity: 0;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}
#generate-stars-btn {
  padding: 10px;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.redes {
 border: 2px;
 margin-top: 2%;
}

.redes ul {

 text-align: center;
}

.redes ul li {
 display: inline-block;
}

.redes ul li a {
 color: rgb(255, 255, 255);
 padding: 10px 20px 0px;
 font-size: 30px;
 display: block;
 transition: all 0.7s ease-in-out;
}

.redes ul li a:hover {
  transform: scale(1.1);
  color: grey;
  
}
.star {
  position: absolute;
  z-index: -1;
  height: 3px;
  width: 3px;
  background-color: white;
  border-radius: 50%;
  animation: twinkling 1s infinite;
}

@keyframes twinkling {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
.fade-out #nick {
  opacity: 0;
}

#nick{
  text-align:center;
  z-index: 1;
  font-size:6.5em;
  margin-top: 7%;
  margin-bottom: 30px;
  cursor: default;
  color: rgb(255, 255, 255);
  font-family: 'Arvo', sans-serif;
  
  
}
#nick strong {
  color: black;
  background-color: orange;
  margin-left: 5px;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 5px;
  
}
.donate-container {
  text-align: center;
}
#donate {
  opacity: 60%;
  background-color: #2c2c2cdc;
  font-family: 'Arvo', sans-serif;
  color: white;
  font-size: 1em;
  text-align: center;
  padding: 10px 20px;
  margin: 0 auto 180px auto;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
}

header {

  text-align: right;
  padding-right: 3%;
  padding-top: 1%;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  
  }
#generate-stars-btn:hover {

  transform: scale(1.07);
  box-shadow:1px 1px 2px 1.5px white;

}
.stats-container {

  color:white;
  cursor:default;
  padding: 10px;

}
.asteroid {
  position: absolute;
  z-index: -1;
  width: 15px;
  height: 15px;
  background: rgb(92, 92, 92);
  border-radius: 50%;
  animation: asteroidMove 2s linear infinite, asteroidExplosion 1s ease-in-out forwards;
}

@keyframes asteroidMove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(100% + 30px), 0);
  }
}

@keyframes asteroidExplosion {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}


@media only screen and (max-width: 480px) {

  .loading-screen {
    padding: 0px 0px;
  }
  
  .loading-screen img {
    max-width: 150%;
  }
  
  .loading-screen p {
    font-size: 1.2rem;
  }
  
  .background-container {
    position: cover;
  }
  #nick {
    font-size: 5em;
    margin-top: 5%;
    margin-bottom: 300px;
  }
 
  .redes ul li a {
    font-size: 50px;
    padding: 5px 10px 0px;
  }
  .stats-container {
    margin-top: 160px;
    text-align: center;
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 768px) {

  #nick{
    font-size: 6em;
    margin-top: 5%;
    margin-bottom: 320px;
  }

  .redes ul li a {
    font-size: 50px;
    padding: 5px 10px;
  }

  .stats-container {
    font-size: 1.2em;
    margin-top: 50px;
    text-align: center;
  }

}



